{% extends 'base.html' %}

{% block content %}

<h1>Quotation Management</h1>

<div style="margin-bottom:20px;">
    <a href="/quotations/create/" class="create-quotation-btn">
        Create Quotation
    </a>
</div>

<table border="1" width="100%">
    <tr>
        <th>ID</th>
        <th>Vendor</th>
        <th>Amount</th>
        <th>Status</th>
    </tr>

    <tr>
        <td>Q001</td>
        <td>ABC Suppliers</td>
        <td>50000</td>
        <td>Submitted</td>
    </tr>
</table>

{% endblock %}