{% extends 'base.html' %}

{% block content %}

<h1>Invoice Management</h1>

<button>Create Invoice</button>

<br><br>

<table border="1" width="100%" cellspacing="0" cellpadding="10">
    <tr>
        <th>Invoice No</th>
        <th>Vendor</th>
        <th>Amount</th>
        <th>Status</th>
    </tr>

    <tr>
        <td>INV001</td>
        <td>ABC Technologies</td>
        <td>₹50,000</td>
        <td>Paid</td>
    </tr>

    <tr>
        <td>INV002</td>
        <td>XYZ Solutions</td>
        <td>₹75,000</td>
        <td>Pending</td>
    </tr>
</table>

{% endblock %}