{% extends 'base.html' %}

{% block content %}

<h1>Activity Logs</h1>

<table border="1" width="100%" cellpadding="10">
    <tr>
        <th>Date & Time</th>
        <th>User</th>
        <th>Action</th>
    </tr>

    <tr>
        <td>06-06-2026 05:00 PM</td>
        <td>Admin</td>
        <td>Created Vendor</td>
    </tr>

    <tr>
        <td>06-06-2026 05:10 PM</td>
        <td>Admin</td>
        <td>Created RFQ</td>
    </tr>

    <tr>
        <td>06-06-2026 05:15 PM</td>
        <td>Admin</td>
        <td>Added Quotation</td>
    </tr>

    <tr>
        <td>06-06-2026 05:20 PM</td>
        <td>Admin</td>
        <td>Generated Purchase Order</td>
    </tr>

    <tr>
        <td>06-06-2026 05:25 PM</td>
        <td>Admin</td>
        <td>Created Invoice</td>
    </tr>
</table>

{% endblock %}